@import url('https://fonts.googleapis.com/css2?family=Amita&family=Bangers&family=Bungee&family=Cinzel:wght@400;500;600&family=Cormorant:ital,wght@0,300;1,400&family=Creepster&family=Reggae+One&family=Satisfy&family=Signika:wght@300;600&family=Source+Serif+4:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;;
}
@mixin P-text {
    font-family: 'Amita', cursive;
font-family: 'Bangers', cursive;
font-family: 'Bungee', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cormorant', serif;
font-family: 'Creepster', cursive;
font-family: 'Reggae One', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Signika', sans-serif;
font-family: 'Source Serif 4', sans-serif;

  
}
@mixin h234-text {
    font-family: 'Alegreya SC', serif;

  
}
@mixin em-text {
    font-family: 'Cormorant Garamond', serif;

  
}
@mixin quate {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 25px;
    font-weight: bold;

  
}
.nav-background{
    border-top: 0.1rem;
color: #fff;
background-color: #212529;


.navbar-light {


    .navbar-brand{
    color: #fff;
           }




.navbar-nav {
    display: flex;
    text-align: center;
align-items: center;

   .nav-item{
        
        @include P-text;
        padding: 0.5rem;
        color: #fff !important;
        text-decoration: none;

        .nav-link{
            color: white;
            text-decoration: none;
          
        }
        .active{
            font-weight: bold;
            border-bottom: 2px solid red;
            text-decoration: none;
        }

        
        
    }
    


}
}
}
//===========home page scss from here========
#header{
    padding: 2rem;
    display: flex;
    align-items: center;


    .main-row{

        h2{
            @include h234-text;
            font-size: 25px;
        }
        h3{
            @include h234-text;
            font-size: 19px;
        }
        q{
            @include quate;
    
        }
        .mt-3{
            // display: flex;
            // text-align: center;
            // align-items: center;
            
            display: inline-block;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            // line-height: 1;
            border-radius: 500px;
            transition-property: background-color,border-color,color,box-shadow,filter;
            transition-duration: .3s;
            border: 1px solid transparent;
            letter-spacing: 2px;
            min-width: 160px;
            text-transform: uppercase;
            white-space: normal;
            font-weight: 700;
            text-align: center;
            // padding: 16px 14px 18px;
            color: #616467;
            box-shadow: inset 0 0 0 2px #616467;
            background-color: transparent;
            height: 40px;
            :hover{
                color: #fff;
                background-color: #616467;
            }
        
         }

        
        }
        
        
        
        .img-secand{
            
            box-sizing: border-box;
            border: 5px white solid;
            // border-radius: 15%;
            overflow: hidden;
            // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
            animation: float 3s ease-in-out infinite;
            img {
                width: 100%; height: auto; 

            } 

            @keyframes float {
                0% {
                    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
                    transform: translatey(0px);
                }
                50% {
                    // box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                    transform: translatey(-10px);
                }
                100% {
                    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
                    transform: translatey(0px);
                }
        }

    }
}

// =============contact page


